<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title>URL Shortner</title>
  </head>
  <body>
    <div class="wrapper">
      <h2>SHORT URL EASILY</h2>
      <form action="/shortUrl" method="post">
        <input
          type="url"
          name="fullURL"
          placeholder="Enter URL to Shorten it!!!"
          required
        />
        <button type="submit">Short URL</button>
      </form>
      <br />

      <table>
        <thead>
          <tr>
            <th>Full URL</th>
            <th>Short URL</th>
            <th>Click Count</th>
          </tr>
        </thead>
        <tbody>
          <% shortURL.forEach(shortURLNew => { %>
          <tr>
            <td>
              <a href="<%= shortURLNew.full %>"><%= shortURLNew.full %></a>
            </td>
            <td>
              <a href="<%= shortURLNew.short %>"><%= shortURLNew.short %></a>
            </td>
            <td><%= shortURLNew.clicks %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </body>
</html>
